#paper {
	width: 970px;
	font-family: "Linux Libertine O"; /*, Times, Times New Roman;*/
}
@media print {
	body {
		/*width: 100%;*/
	}
}

#paper img { 
	width: 100%;
}
#paper article img {
	margin: 0.5em 0 0;
}
#paper section article {
	color: #ff0000;
}
#paper p {
	text-align: justify;
	
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
	
	text-indent: 1em;
	font-size: 1.3em;
	
	line-height: 1.5em;
	margin: 0;
	color: #000;
}

#paper header, #paper section {
	column-width: 16em !important; /*(18x16=288px) but usually 360px?*/
	-webkit-column-width: 16em !important;
	-moz-column-width: 16em !important;
	column-count: 3 !important;
	-webkit-column-count: 3 !important;
	-moz-column-count: 3 !important;
	column-gap: 1.5em;
	-webkit-column-gap: 1.5em;
	-moz-column-gap: 1.5em;
}
#paper section {
	
}
#paper article {
	/*display: inline; *//* makes break-...'s work */
	margin: 0 0 2.5em 0;
	
	/*page-break-inside: avoid; *//* Firefox */
}
#paper h2, #paper h3 {
	/*font-family: "Liberation Sans Narrow";
	font-weight: bolder;
	letter-spacing: -1px;*/
	font-family: "League Gothic";
	font-weight: normal;
	text-transform: uppercase;
	color: #000;
}
#paper h2 {
	font-size: 2em;
	text-align: center;
	margin: 0.2em 0 0 0;
	
	break-inside: avoid; /* W3C */
	-webkit-column-break-inside: avoid; /* Safari & Chrome */
	-moz-column-break-inside: avoid; /* Firefox */
	-ms-column-break-inside: avoid; /* Internet Explorer */
	-o-column-break-inside: avoid; /* Opera */
	
	/* keep paper title connected to what's above it */
	break-before: avoid; /* W3C */
	-webkit-column-break-before: avoid; /* Safari & Chrome */
	-moz-column-break-before: avoid; /* Firefox */
	-ms-column-break-before: avoid; /* Internet Explorer */
	-o-column-break-before: avoid; /* Opera */
}
#paper h3 {
	font-size: 2em;
	break-inside: avoid; /* W3C */
	-webkit-column-break-inside: avoid; /* Safari & Chrome */
	-moz-column-break-inside: avoid; /* Firefox */
	-ms-column-break-inside: avoid; /* Internet Explorer */
	-o-column-break-inside: avoid; /* Opera */
	page-break-inside: avoid; /* Firefox */
	
	/* keep article headers connected to first paragraph */
	break-after: avoid; /* W3C */
	-webkit-column-break-after: avoid; /* Safari & Chrome */
	-moz-column-break-after: avoid; /* Firefox */
	-ms-column-break-after: avoid; /* Internet Explorer */
	-o-column-break-after: avoid; /* Opera */
	page-break-after: avoid;  /* Firefox */
	
	/*page-break-before: avoid; *//* Firefox */
	
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-position: 16px 100%;
	background-size: 16px;
	padding: 0 0 16px 0; /* high resolution for print */
	
	margin: 0;
}
#paper em {
	font-weight: bold;
	font-style: normal;
}
#paper .spanall {
	column-span: all;
}

/* 
 * Header
 */
#paper header { 
	/*height: 17em;*/
	background-image: url(../img/header-dot.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	background-size: 15px; /* high resolution for print */
	margin: 0 0 1em 0;
	padding: 0 0 1em 0;
}
#paper header #paper article {
	break-inside: avoid;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside:avoid;
	-o-column-break-inside:avoid;
	-ms-column-break-inside:avoid;
	
	display:block;
	/*height: 17em;*/ /* otherwise the title is balenced to the right column */
	margin: 0;
}
#paper header article p {
	text-indent: 0;
	margin: 0.5em 0 0 0;
}
#paper #logo {
	margin: 0;
}
#paper header .left, #paper header .right {
	
}
#paper header .middle, #paper header .right {
	height: 17em; /* otherwise the title is balenced to the right column */	
}

#paper #intro, #paper #paperinfo {
	font-family: "Linux Libertine O C"; /*, Times, Times New Roman;*/
}
#paper #intro em, #paper #paperinfo em {
	font-family: "Linux Libertine O"; /*, Times, Times New Roman;*/
	font-weight: bold;
	font-style: normal;
}
#paper #paperinfo {
	text-align: center;
	text-indent: 0;
	margin: 0;
	
	break-before: avoid;
	break-after: avoid;
	
	column-break-before: avoid;
	-webkit-column-break-before: avoid; /* Safari & Chrome */
	-moz-column-break-before: avoid; /* Firefox */
	-ms-column-break-before: avoid; /* Internet Explorer */
	-o-column-break-before: avoid; /* Opera */
	
}
#paper header .middle img {
	break-after: avoid;
		
	column-break-after: avoid;
	-webkit-column-break-after: avoid; /* Safari & Chrome */
	-moz-column-break-after: avoid; /* Firefox */
	-ms-column-break-after: avoid; /* Internet Explorer */
	-o-column-break-after: avoid; /* Opera */
}

/*
 * Body
 */
#paper #disclaimer {
	border: 2px solid #000000;
	padding: 10px;
	page-break-inside: avoid; /* Firefox */
}
#paper #disclaimer p{
	text-indent: 0;
}